{% extends '@DrawUser/security/base_box.html.twig' %}

{% block login_box_body %}
    <p class="login-box-msg">Reset password</p>
    <form action="{{ path('admin_forgot_password') }}" method="post" role="form">
        <div class="form-group has-feedback">
            <input type="email" class="form-control" id="username" name="username" required="required"
                   placeholder="Email address"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    Reset password
                </button>
            </div>
        </div>
    </form>
{% endblock login_box_body %}
