draw_framework_extra:
  symfony_console_path: '%kernel.project_dir%/bin/console'

  aws_tool_kit:
    imds_version: 2
    newest_instance_role_check: true

  configuration: ~

  console:
    documentation:
      filter: 'in'
      command_names: [ 'draw:console:generate-documentation' ]

  cron_job: ~

  data_synchronizer: ~

  doctrine_extra: ~

  entity_migrator: ~

  feature: ~

  log:
    slow_request:
      default_duration: 5000
      request_matchers:
        - path: '^/api'
    enable_all_processors: true

  mailer:
    css_inliner: ~
    default_from:
      email: 'support@example.com'
      name: 'Example - Support'
    subject_from_html_title: ~

  messenger:
    async_routing_configuration: true
    broker:
      contexts:
        default:
          receivers: [ 'async' ]
    doctrine_message_bus_hook: ~
    retry:
      event_driven:
        transports: [ 'async' ]

    serializer_event_dispatcher: ~
    versioning: ~

  open_api:

    request:
      userRequestInterceptedException: true

    openApi:
      schema:
        info:
          title: "test"

      definitionAliases:
        - class: 'App\Entity\'
          alias: ''
        - class: 'App\DTO\'
          alias: ''

      headers:
        - name: 'X-Draw-Language'
          type: 'string'
          default: 'en'

      tags_to_clean:
        - 'WillBeCleaned'

      scoped:
        scopes:
          all:
            tags: ~
          tag:
            tags: [ 'Tags' ]

      sort_schema: true

  process: ~

  security:
    console_authentication:
      system_auto_login: true
    messenger_authentication: ~
    jwt:
      encoder:
        key: 'unique-key'
    system_authentication: ~
    voters:
      abstain_role_hierarchy: ~

  validator: ~

  versioning: ~

  workflow: ~
