# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    trusted_proxies: '127.0.0.1,REMOTE_ADDR'
    trusted_headers: [ 'x-forwarded-for', 'x-forwarded-host', 'x-forwarded-port', 'x-forwarded-proto' ]

    secret: '%env(APP_SECRET)%'
    #csrf_protection: true
    annotations: false
    http_method_override: false
    handle_all_throwables: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax

    form:
        enabled: true
    assets:
        enabled: true

    #esi: true
    #fragments: true
    php_errors:
        log: true

    http_client: ~

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file

        php_errors:
            log: true
