when@test:
  framework:
    messenger:
      transports:
        sync: 'in-memory://'
        async: 'in-memory://'
        async_high_priority: 'in-memory://'

framework:
  messenger:
    failure_transport: 'failed'

    transports:
      async: 'draw://default?queue_name=default'
      async_high_priority: 'draw://default?queue_name=async_high_priority'
      async_low_priority: 'draw://default?queue_name=async_low_priority'
      failed: 'draw://default?queue_name=failed'
      sync: 'sync://'

    routing:
      Draw\Component\CronJob\Message\ExecuteCronJobMessage: 'async_high_priority'
      App\Message\NewTestDocumentMessage: ['sync', 'async_low_priority']
      Draw\Component\Messenger\ManualTrigger\Message\ManuallyTriggeredInterface: 'async'
      Draw\Component\Messenger\Message\RetryFailedMessageMessage: 'async'
      Draw\Bundle\UserBundle\Message\NewUserLockMessage: 'sync'
      Draw\Bundle\UserBundle\Message\UserLockDelayedActivationMessage: 'sync'
