sonata_admin:
    title: 'Sonata Admin'
    dashboard:
        blocks:
            - { type: 'sonata.admin.block.admin_list', position: 'left' }
            -   class: 'col-lg-3 col-xs-6'          # twitter bootstrap responsive code
                position: 'top'                        # zone in the dashboard
                type: 'Draw\Bundle\UserBundle\Sonata\Block\UserCountBlock'  # block id
            -   class: 'col-lg-3 col-xs-6'          # twitter bootstrap responsive code
                position: 'top'                        # zone in the dashboard
                type: 'Draw\Bundle\SonataExtraBundle\Block\AdminMonitoringBlockService'  # block id
                settings:
                    code: 'App\Sonata\Admin\UserAdmin'
                    thresholds:
                        ok:
                            if: 'count == 50'
                            settings:
                                css_class: 'bg-yellow'

            -   class: 'col-lg-3 col-xs-6'
                position: 'top'
                type: 'Draw\Bundle\SonataExtraBundle\Block\AdminMonitoringBlockService'
                settings:
                    code: 'Draw\Bundle\MessengerBundle\Sonata\Admin\MessengerMessageAdmin'
                    icon: 'fa fa-rss'
                    text: 'Failed messages'
                    filters:
                        queueName: { value: [ 'failed' ] }

    assets:
        extra_javascripts:
            - bundles/drawsonataextra/main.js

sonata_block:
    blocks:
        sonata.admin.block.admin_list:
            contexts: [ 'admin' ]

        Draw\Bundle\SonataExtraBundle\Block\AdminMonitoringBlockService: ~
