/tmp
/.idea
/.subsplit
/docker-compose.override.yaml
/draw.iml
composer-normalize
/vendor-bin/**/vendor/
/public/version.txt
/public/open-api

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/phpstan.phar
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
