parameters:
	ignoreErrors:
		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Configuration\\\\Deserialization\\:\\:\\$deserializationEnableMaxDepth is unused\\.$#"
			count: 1
			path: packages/open-api/Configuration/Deserialization.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Configuration\\\\Deserialization\\:\\:\\$deserializationGroups is unused\\.$#"
			count: 1
			path: packages/open-api/Configuration/Deserialization.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Configuration\\\\Deserialization\\:\\:\\$propertiesMap is unused\\.$#"
			count: 1
			path: packages/open-api/Configuration/Deserialization.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Configuration\\\\Deserialization\\:\\:\\$validate is unused\\.$#"
			count: 1
			path: packages/open-api/Configuration/Deserialization.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Configuration\\\\Deserialization\\:\\:\\$validationGroups is unused\\.$#"
			count: 1
			path: packages/open-api/Configuration/Deserialization.php

		-
			message: "#^Parameter \\$param of method Draw\\\\Component\\\\OpenApi\\\\Tests\\\\Extraction\\\\Extractor\\\\PhpDoc\\\\PhpDocOperationExtractorStubService\\:\\:invalidTypeParameter\\(\\) has invalid type Draw\\\\Component\\\\OpenApi\\\\Tests\\\\Extraction\\\\Extractor\\\\PhpDoc\\\\toto\\.$#"
			count: 1
			path: packages/open-api/Tests/Extraction/Extractor/PhpDoc/OperationExtractorTest.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Tests\\\\Mock\\\\Model\\\\Test\\:\\:\\$propertyFromBody is unused\\.$#"
			count: 1
			path: packages/open-api/Tests/Mock/Model/Test.php

		-
			message: "#^Property Draw\\\\Component\\\\OpenApi\\\\Tests\\\\Mock\\\\Model\\\\Test\\:\\:\\$propertyGroupExclusion is unused\\.$#"
			count: 1
			path: packages/open-api/Tests/Mock/Model/Test.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getRole\\(\\)\\.$#"
			count: 1
			path: packages/security/Http/EventListener/RoleRestrictedAuthenticatorListener.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: packages/security/Http/EventListener/RoleRestrictedAuthenticatorListener.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:markResolved\\(\\)\\.$#"
			count: 1
			path: packages/security/Http/EventListener/RoleRestrictedAuthenticatorListener.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getPayloadKeyValue\\(\\)\\.$#"
			count: 2
			path: packages/security/Tests/Http/Authenticator/JwtAuthenticatorTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: packages/security/Tests/Http/Authenticator/JwtAuthenticatorTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getUserIdentifier\\(\\)\\.$#"
			count: 1
			path: packages/security/Tests/Http/Authenticator/JwtAuthenticatorTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: packages/security/Tests/Http/Authenticator/MessageAuthenticatorTest.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\BadgeInterface\\:\\:getUserIdentifier\\(\\)\\.$#"
			count: 1
			path: packages/security/Tests/Http/Authenticator/MessageAuthenticatorTest.php

		-
			message: "#^Class Draw\\\\Bundle\\\\SonataIntegrationBundle\\\\User\\\\Security\\\\AdminLoginAuthenticator extends @final class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\FormLoginAuthenticator\\.$#"
			count: 1
			path: packages/sonata-integration-bundle/User/Security/AdminLoginAuthenticator.php
