<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="4096M" />
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <env name="DATABASE_URL" value="mysql://draw:draw@mysql:3306/draw" />
    </php>
    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
            <directory>./packages/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/*</directory>
            <exclude>
                <directory>./packages/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>