<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd">

    <testsuites>
        <testsuite name="all">
            <directory>./src/*/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/*</directory>
            <exclude>
                <directory>./src/*/test</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>