<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="tests/bootstrap.php"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <php>
        <ini name="memory_limit" value="4096M"/>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="DATABASE_URL" value="mysql://draw:draw@mysql:3306/draw"/>
    </php>
    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
            <directory>./packages/*/Tests</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source>
        <include>
            <directory>./packages/*</directory>
            <directory>./src</directory>
        </include>
        <exclude>
            <file>./packages/core/.phpstorm.meta.php</file>
            <file>./packages/core/ignore_annotations.php</file>
            <file>./packages/doctrine-extra/.phpstorm.meta.php</file>
            <file>./packages/messenger/.phpstorm.meta.php</file>
            <directory>./packages/*/Tests</directory>
            <directory>./packages/*/vendor</directory>
            <directory>tests</directory>
        </exclude>
    </source>
    <extensions>
        <bootstrap class="Draw\Component\Tester\PHPUnit\Extension\CarbonResetExtension"/>
    </extensions>
</phpunit>
