---
# https://github.com/marketplace/actions/actionlint-with-reviewdog
# https://github.com/marketplace/actions/checkout

name: Github Actions

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  actionlint:
    name: Actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          # https://github.com/rhysd/actionlint
          #actionlint_flags:
          fail_on_error: true
          filter_mode: nofilter
          github_token: ${{ secrets.GITHUB_TOKEN }}
          level: info
          reporter: github-pr-review
          # reviewdog_flags:
          tool_name: actionlint
